body {
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

#assignment-instructions {
    color: #2cff5c;
    font-family: 'Acme', sans-serif;
}

#second-li > code {
    color: green;
}

code {
    color: red;
    font-family: monospace;
}

li + li {
    color: white;
    background: black;
}